
{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <div class="page-header header-filter" filter-color="purple" style="background-image: url('{{ asset('assets/img/bg7.jpg') }}'); background-size: cover; background-position: top center;">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3">
                    <div class="card">
                        <div class="header header-primary text-center">
                            <h4 class="card-title">Demande de réinitialisation du mot de passe</h4>

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card-content text-center">
                                    {% for message in app.flashes('danger') %}
                                        <div class="alert alert-danger">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                    {% for message in app.flashes('warning') %}
                                        <div class="alert alert-danger">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                    <form action="{{ path('reset-password') }}" method="POST">
                                        <div class="input-group">
                                            <span class="input-group-addon">
												<i class="material-icons">email</i>
											</span>
                                            <input type="email" name="email" required="required" placeholder="Votre Email" class="form-control">
                                        </div>
                                        <div class="text-center">
                                            <button type="submit" class="btn btn-success">Envoyer</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
